{% extends 'base_generic.html' %}

{% block content %}
    <h1>{{ object.name }} ({{ object.get_age }} years old)</h1>
    <p>
        <strong>Race:</strong> {{ object.race }}<br>
        <strong>Breed:</strong> {{ object.breed }}<br>
        <strong>Birth Date:</strong> {{ object.birth_date }}<br>
        <strong>Sex:</strong> {{ object.get_sex_display }}<br>
        <strong>Castrated:</strong> {{ object.is_castrated }}<br>
    </p>
    <h2>Weight History</h2>
    <p>
    {% for weight in weights %}
        {{ weight.weight }}g, weighted at {{ weight.get_weighting_time }}<br>
    {% endfor %}
    </p>
    <p>
        <a href="{% url 'index' %}">Home</a><br>
        <a href="{% url 'pets_index' %}">Pet List</a>
    </p>
{% endblock %}